<div>
	<span class="head_list">User details: </span>
	<a href="users/{{userId}}/createList" class="button">Create list</a>
	<a href="#" ng-click="removeUser()" class="button">Delete user</a>
	<section class="list_container">
		<ul class="owner">
			<li ng-repeat="list in lists">
				<a href='/users/{{userId}}/{{list._id}}'>{{list.title}}</a>
			</li>
		</ul>
		<ul class="shared">
			<li ng-repeat="list in shared">
				<a href="/users/{{userId}}/{{list._id}}">{{list.title}}</a>
			</li>
		</ul>
	</section>
</div>