div
  span.head_list New user
  form(ng-submit='addUser()', name='adduserForm')
    input(type='text', placeholder='Username', name='username', ng-model='username', required='')
    input(type='email', placeholder='Email', name='useremail', ng-model='useremail', required='')
    button(type='submit') OK!
